body{
    background-image: url("123.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: grey;
    padding: 15px;
    width: 700px;
}
#insert,#display{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
#btn{
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: greenyellow;

}
#btn:hover{
    background-color: red;
    color: aliceblue;
}
